* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  gap: 20px;
  flex-direction: column;
  color: white;
  min-height: 100vh;
}
